:root {
    --Sec2: #055a4a;
    --Sec: #06c46f;
}

body {
    overflow-x: hidden;
    max-width: 100%; /* Prevent overflow */
   
}
* {
    margin: 0;
    box-sizing: border-box;
}

#header{
    position: relative;
    height: 70px;
}

.lang-nl {
    display: initial;
}

.hero {

    height: calc(100vh - 70px);
    width: 100%;
    background-color: aqua;
}

.link {
    text-decoration: none;
    border-bottom: 1px solid var(--Sec);
    color: var(--Sec);
}

.link:visited,
.link:hover {
    color: var(--Sec2);
    border-bottom: 1px solid var(--Sec2);
}