:root {
    --cta: #06c46f;
    --BG1: #ffffff;
    --BG2: whitesmoke;
    --Sec2: #055a4a;
    --Sec: #06c46f;
    --secBG: #e6f7f0;
    --Corners: 16px;
    --TextColor1: #333333;
    --TextColor2: #ffffff;
}

body {
    overflow-x: hidden;
    max-width: 100%; /* Prevent overflow */
   
}
* {
    margin: 0;
    box-sizing: border-box;
}

#header{
    position: relative;
    height: 70px;
}

.lang-nl {
    display: initial;
}

.Scroll-X {
    overflow: hidden;
    overflow-x: scroll;
}

.Scroll-Y {
    overflow: hidden;
    overflow-y: scroll;
}

.hero {

    height: calc(100vh - 70px);
    width: 100%;
    background-color: aqua;
}

.link {
    text-decoration: none;
    border-bottom: 1px solid var(--cta);
    color: var(--Sec);
}

.link:visited,
.link:hover {
    color: var(--Sec2);
    border-bottom: 1px solid var(--Sec2);
}

.popupFrame {
    display: none;
    flex-direction: column;
}

#popup {
    width: 500px;
    height: 300px;
    background-color: var(--secBG);
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    border-radius: var(--Corners);
    overflow: hidden;
    display: none;
    flex-direction: column; 
 
}

.popup-topbar {
    background-color: var(--cta);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.popup-topbar h3{
    color: var(--TextColor1);
}

.popup-close {
    font-size: 50px;
    position: fixed;
    left: calc(50% + 250px - 40px) ;
    top: calc(50% - 150px - 15px);
    color: red;
}



.popup-content {
    width: 100%;
    max-height: 300px;
    display: flex
;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: center;
   
    scrollbar-width: none;
}

.popup-content a {
    width: auto;
    padding: 5px;
    height: auto;
    font-size: medium;
    text-decoration: none;
    border-bottom: 1px solid var(--Sec);
    color: var(--Sec);
    text-align: center;
}

.popup-content a:visited,
.popup-content a:hover {
    color: var(--Sec2);
    border-bottom: 1px solid var(--Sec2);
}

#Loading {
    display: flex;
    position: fixed;
    z-index: 999999999;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.js-1 {
    font-size: 50;
    color: blue;
}

.js-2 {
    font-size: 50;
    color: cyan;
}

.js-string {
    font-size: 50;
    color: greenyellow; 
}

.LoadingIndicator {
    font-size: 50;
    color: white;
}
@media (max-width: 800px) {
    #popup {
        width: 250px;
        height: 150px;
        left: calc(50% - 125px);
        top: calc(50% - 57px);

     
    }

    .popup-close {
        font-size: 25px;
        position: fixed;
        left: calc(50% + 125px - 20px) ;
        top: calc(50% - 57px - 5px);
        color: red;
    }

    .popup-topbar h3{
        color: var(--TextColor2);
        font-size: 15px;
    }
}