:root {
    --navbarBG: #055a4a;
    --navbarButton: #ffffff;
    --CornerRadiusNavBarButtons: 10px;
    --TextColor1: #333333;
    --TextColor2: #ffffff;
}

#NavBar {
    background-color: var(--navbarBG);
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: right;
    box-shadow: 1px 1px 9px 1px gray;
    position: fixed;

}

.scrolling {
    opacity: 90%;
}

.navbar-right,
.navbar-left {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
}

.navbar-right li,
.navbar-left li, 
.navbar-right ul,
.navbar-left ul {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    align-items: center;
    padding: 5px;
}

.navbar-right {
    align-items: center;
    justify-content: right;
    width: 70%;
}

.navbar-left {
    align-items: center;
    justify-content: left;
    width: 70%;
}

.home-Logo-Button{
    min-height: 60px;
    max-height: 70px;
    width: auto;
    height: 90%;
}

.home-Logo-Button img{
    width: 100%;
    height: 100%;
}

#Date {
    text-decoration: none;
    color: var(--TextColor2);
}
.navButton {
    text-decoration: none;
    width: 100px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: var(--CornerRadiusNavBarButtons);
    color: var(--TextColor1);
    border-bottom: 2px solid var(--TextColor1);
    background-color: var(--navbarButton);
    margin: 5px;
}