:root {
    --BorderColor: #d1d1d1;
    --cta: #06c46f;
    --background:#f8f8f8;
    --Card: #ffffff;
    --Sec2: #055a4a;
    --Sec: #06c46f;
    --CornerRadius: 10px;
    --TextColor1: #333333;
    --TextColor2: #ffffff;
    --shadow: 0 2px 2px rgba(0,0,0,0.1)
}

body {
  background-color: var(--background)
}

.project-main {
    padding: 10%;
    padding-top: 10px;
    
}

.project-content {
    border: 1px solid var(--BorderColor);
    border-radius: var(--CornerRadius);
    overflow: hidden;
    background-color: var(--Card);
    box-shadow: var(--shadow)
}

.project-Title {
  background-color: var(--cta);
  height: 50px;
  display: flex;
  flex-direction: row;
}

.project-content-styles img {
  width: 100%;
  height: auto;
}





.project-content-styles h1,
.project-content-styles h2,
.project-content-styles h3,
.project-content-styles h4,
.project-content-styles h5,
.project-content-styles h6{
  color: var(--cta);
}




.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6{
  color: var(--cta);
}

.comment-content img {
  width: 100%;
  height: auto;
}

.comment-content table {
  width: 100%;
  height: auto;
  overflow-y: auto;
    overflow-x: hidden;
}



.ProjectTitle {
    font-size: 20px;
    color: var(--TextColor1);
}



.project-back {
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: var(--TextColor1);
}

.project-actions {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: auto;
}

#project-info hr {
    border-color: var(--BorderColor);
    border-style: solid;
}

.project-actions i {
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: var(--TextColor1);
}

.project-Date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-Date-date p,
.project-Date-post p {

    padding: 10px;
}

.project-Date-date,
.project-Date-post {
    display: flex;
    flex-direction: row;

}



.comment-main {
    border: 1px solid var(--BorderColor);
    border-radius: var(--CornerRadius);
    overflow: hidden; 
    box-shadow: var(--shadow);
}

.comment {
    padding-top: 10px;
    
}

.comment-info {
    display: flex;
    flex-direction: row;
}

.comment-info-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
}
.comment-info-right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
}

/*home page for projects*/
.projects {
 padding: 10%;
    padding-top: 10px;
}
.projects-main {
    border: 1px solid var(--BorderColor);
    border-radius: var(--CornerRadius);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.projects-card {
    text-decoration: none;
    color: var(--TextColor1);

}
.projects-OnHover {
   
    width: 10px;
    background-color: transparent;
}

.projects-card:hover .projects-OnHover {
    background-color: var(--cta);
}



.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; /* Pushes left and right content apart */
    align-items: center; /* Aligns items vertically */
}

.projects-left {
    display: flex;
    flex-direction: column;
}

.projects-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between right elements */
}



.projects-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; /* Pushes left and right content apart */
    align-items: center; /* Aligns items vertically */
}



@media (max-width: 950px) {
    .user-name {
        font-size: 10px;
    }

    .ProjectTitle {
        font-size: 12px;
    }

    .comment-date {
        font-size: 11px;
    }

    .project-actions {
        width: 20%;
    }

    .project-actions i {
        font-size: 20px;
        width: 20px;
        height: 20px;
        
    }

    .project-Date {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    .project-Date-date p,
    .project-Date-post p {
    
        padding: 10px;
    }
    
    .project-Date-date,
    .project-Date-post {
        display: flex;
        flex-direction: column;
    
    }
}

